<table style="width: 100%;" class="table">
    <thead class="thead-dark">
        <tr>
            <th align="left" scope="col">Title</th>
            <th align="left" scope="col">Price</th>
            <th align="left" scope="col">Release Date</th>
            <th align="left" scope="col">Label</th>
            <th align="left" scope="col">Main Genres (5 newest)</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.release_date %></td>
                <td><%= product.label.name %></td>
                <td>
                    <%= product.genres.order(created_at: :desc).take(5).pluck(:name).join(', ') %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>